body {
    height: 100vh;
    margin: 0;
    padding: 0;
    list-style: none;
    background-image: url("./photos/pexels-flo-dahm-699459.jpg");
    background-size: 40vw 100vh;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

h2 {
    font-size: 25px;
    color: rgb(39, 39, 39);
}

.content {
    display: flex;
}

img {
    height: 100px;
    width: 80px;
    position: absolute;
}

.left {
    display: flex;
}

.right {
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 248, 248);
    height: 100vh;
    margin-left: 40vw;
    justify-content: center;
    gap: 25px;
}

.firstLine,
.secondLine,
.thirdLine {
    display: flex;
    gap: 80px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.formText {
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 4px 4px 7px rgb(207, 207, 207);
}

.textBox {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 350px;
}

button {
    margin-top: 50px;
}

li {
    font-size: 16px;
    color: rgb(26, 26, 26);
}

input {
    height: 35px;
    width: 310px;
    border-radius: 7px;
    border-style: solid;
    border-color: #d2d3d8;
    border-width: 1px;
    font-size: 15.5px;
    padding-left: 10px;
}

.formLabel {
    margin-bottom: 7px;
}

input:focus {
    outline: none;
    border-width: 1px;
    border-color: blue;
    box-shadow: 2px 2px 4px rgb(206, 205, 205);
}

input:invalid {
    border-color: red;
}

button {
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 50px;
    border-radius: 5px;
    border-style: none;
    background-color: #3882f6;
    color: white;
}

.bottomText {
    margin-left: 50px;
}

a {
   color: #3882f6; 
   text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: purple;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

